version: '3.1'
services:
  tileserver:
    image: klokantech/tileserver-gl:latest
    container_name: tileserver
    restart: unless-stopped
    tty: true
    volumes:
      - ./TileServer:/data
  cache:
    image: node:12.16.2-alpine
    container_name: tileserver-cache
    restart: unless-stopped
    tty: true
    working_dir: /app
    command:
      - sh
      - -c
      - |
        apk update
        apk add imagemagick
        cp /usr/bin/convert /usr/local/bin
        npm install
        sudo npm install -g typescript
        tsc
        npm start
    volumes:
      - .:/app
    ports:
      - 43200:43200